.fundo{
 background-color: bisque;
}
*{
  margin: 0;
  padding: 0;
}
.cabeçalho{
    background-color: aquamarine;
    color:brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    margin: 0px;
}
.cabeçalho-titulo{
    display: inline-block;
    justify-content: center;
    margin: 0 16px;
    font-size: 50px;
}
.titulo{
  color: rgb(243,249,253);
  display: flex;
  align-items: center;
  padding: 44px 0;
  font-size: 30px;
  margin-left: 30px;
}
.borbo-texto-um{
 color: rgb(249,253,255);
 font-size: 25px;
 margin-left: 30px;
 margin-right: 30px;;
}
.imagem{
  display: inline;
  text-align: center;
  width: 220px;
  height: auto;
  padding: 2% 30px;
  margin-top: 20px;
}
